<h2 class="text-center">Extrato</h2>

<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th>Codigo</th>
    <th>Tipo</th>
    <th>Conta Origem</th>
    <th>Conta Destino</th>
    <th>Valor</th>
    <th>Data</th>
  </tr>
  </thead>

  <tbody>
  <% @extrato.each do |transacao| %>
      <tr>
        <td><%= transacao.codigo %></td>
        <td><%= transacao.tipo %></td>
        <td><%= transacao.nro_conta %></td>
        <td><%= transacao.nro_conta_transf %></td>
        <td><%= transacao.valor %></td>
        <td><%= transacao.data.strftime("%d/%m/%y") %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', :back, class:"btn btn-inverse" %>