<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <%if resource_name ==:correntistum%>

        <h2>Cadastrar Correntista</h2>
    <div class="field">
      <%= f.label :cpf %>
      <%= f.text_field :cpf %>
    </div>
        <br />
    <div class="field">
      <%= f.label :nome %>
      <%= f.text_field :nome %>
    </div>
        <br />
    <div class="field">
      <%= f.label :endereco %>
      <%= f.text_field :endereco %>
    </div>
        <br />

    <%elsif resource_name==:funcionario%>
       <h2> Cadastrar Funcionario </h2>

        <div class="field">
          <%= f.label :codigo %>
          <%= f.text_field :codigo %>
        </div>
        <br />
        <div class="field">
          <%= f.label :nome %>
          <%= f.text_field :nome %>
        </div>
        <br />
        <div class="field">
          <%= f.label :funcao %><br />
          <%= f.select :funcao, (['Gerente','Caixa','Atendente']) %>
        </div>
        <br />

    <% end%>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
    <br />
  <div><%= f.label :password %>
  <%= f.password_field :password %></div>
    <br />
  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

    <br />
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
