<%= form_for(@contum) do |f| %>
  <% if @contum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contum.errors.count, "error") %> prohibited this contum from being saved:</h2>

      <ul>
      <% @contum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>
    <br />
  <div class="field">
    <%= f.label :primeiro_corr %>
    <%= f.text_field :primeiro_corr %>
  </div>
    <br />
  <div class="field">
    <%= f.label :segundo_corr %>
    <%= f.text_field :segundo_corr %>
  </div>
    <br />
  <div class="field">
    <%= f.label :terceiro_corr %>
    <%= f.text_field :terceiro_corr %>
  </div>
    <br />
    <div class="field">
      <%= f.label :saldo %>
      <%= f.text_field :saldo %>
    </div>
    <br />
  <div class="field">
    <%= f.label :limite %>
    <%= f.text_field :limite %>
  </div>
    <br />
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
